.git
.github
.env
.env.*
!.env.example
!.env.production.example
!.env.staging.example
node_modules
vendor
storage/app/*
storage/framework/*
storage/logs/*
bootstrap/cache/*.php
public/build
tests
Applications/*/Tests
Modules/*/Tests
Mythos/Core/*/Tests
docs
release
*.log
*.sqlite
